@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-customGray text-white font-sans;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
}